# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
chatbot/
venv/
.env

# VS Code
.vscode/

# Chroma Vector Database
vector_store/

# Python cache
.pytest_cache/

# Temporary files
*.txt.txt

# OS Files
.DS_Store
Thumbs.db

# Multimodal test images
multimodal/test_images/*

# MedQuAD dataset
MedQuAD/

# Medical vector database
medical_vector_store/

# Temporary files
sample.txt